@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');

.App {
  /*text-align: center;*/
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

html {
    text-align: left;
}

body {
    font-family: 'Source Sans Pro', 'Ubuntu', sans-serif;
}

p, span, ul {
    font-size: 12pt;
}

.expand-text {
    font-size: 12pt;
    width: 95%;
}

@media screen and (min-width: 768px) {
    p, span, ul {
        font-size: 14pt;
    }
    .expand-text {
        font-size: 13pt;
    }

}
.text-content {
    padding: 25px 0 25px 0;
}